body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  line-height: 1.6;
  color: #222;
  background-color: #fff;
}

.my-projects-title,
.my-project-title {
  font-weight: 500;
}

.my-projects-title {
  font-size: 2em;
  margin-bottom: 10px;
}

.my-project-title {
  font-size: 1.2em;
  margin-top: 20px;
  margin-bottom: 5px;
}

a {
  color: #003366;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.my-projects-intro,
.my-project-authors {
  font-size: 0.9em;
  margin: 5px 0;
}

.my-footer {
  margin-top: 60px;
  font-size: 0.8em;
  color: #888;
  text-align: center;
}

.my-content{
  padding: 10px 20px;


}
.my-cv-link {
  color: #1a73e8;        
  
}
.my-cv-link:hover {
  text-decoration: underline; 
}

.full-width-section {
  width: 100;          
  max-width: 80%;      
  margin: 0;            
  padding: 20px;         
  box-sizing: border-box; 
  background-color: #fff; 
}

.my-link {
  color: #1a73e8;              
  border-radius: 4px;           
  text-decoration: none;        
  display: inline-block;        
}

.my-link:hover {
  text-decoration: underline;
}
